// color
.color-main { color: $color-main; }

// 空隙占位
.blank-10-5 { height: 10px; }
.blank-20 { height: 20px; }
.blank-50 { height: 50px; }
.blank-102 { height: 102px; }
.blank-150 { height: 150px; }
.blank-200 { height: 200px; }
.pr{ position: relative; }